# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl

# Docker
*.log
*.env

# IDEs
.vscode/
.idea/
